<html>
{{>head}}

<body>
    <div id="frame">
        {{>header}}
        <div id="about_container">
            <p>API use: <a href="https://weatherstack.com/" target="_blank">weatherstack.com</a></p><br>
            <p>An app can fetch data about the weather from anywhere that exists <b>but</b> data is not exactly</p>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>