<html>
{{>head}}

<body>
    <div id="frame">
        {{>header}}
        <div id="contact_container">
            <p>Twitter: <a target="_blank" href="https://twitter.com/nipponwfm1">@nipponwfm1</a></p>
            <p>Facebook: <a target="_blank" href="https://www.facebook.com/nipponwfm/">/nipponwfm</a></p>
            <p>Gmail: nipponwfm@gmail.com</p>
            <p>Github: <a target="_blank" href="https://github.com/nipponwfm">/nipponwfm</a></p>
            <p>Phone: 113</p>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>