<html>
{{>head}}

<body>
    <div id="frame">
        {{>header}}
        <div id="search_container">
            <p>Search location:</p>
            <input type="text" placeholder="Enter a location...">
            <input type="submit" value="Search">
            <div id="result">
                <p class="result"></p>
                <p class="result"></p>
                <img src="" alt="" id="weather_icon">
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>